flake8~=5.0.4
black~=22.8
mypy>=0.800,<0.900
pytest>=6.2.2,<8.0.0
pytest-cov>=2.11,<4.0
sphinx==3.5.2
nbsphinx==0.8.6
sphinxjp.themes.basicstrap==0.5.0
sphinx_rtd_theme==1.0.0
sphinxcontrib-napoleon==0.7
myst-parser>=0.16
ipykernel
mock>=2.0,<5.0
pandoc
pybadges
build
setuptools>=45
setuptools_scm[toml]>=7.0
wheel>=0.31.0
twine>=1.11.0
ipywidgets
